<!DOCTYPE html>
<html th:replace="~{/layout/header :: header(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>블로그</title>
</head>
<body>
<section class="container mt-4">
    <div class="card mb-4 p-4">
        <div class="mb-3">
            <h4 class="card-title">닉네임</h4>
            <h3 th:text="${blog.nickname}"></h3>
        </div>
        <div class="mb-3">
            <h4 class="card-title">블로그 소개</h4>
            <h3 th:text="${blog.description}"></h3>
        </div>
        <div class="mb-3">
            <h4 class="card-title">블로그 생성일자</h4>
            <h3 th:text="${#temporals.format(blog.createDate,'yyyy-MM-dd')}"></h3>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <button class="btn btn-primary" th:onclick="|location.href='@{|/${blog.title}/follow|}'|">팔로우</button>
            <button class="btn btn-secondary" th:onclick="|location.href='@{|/${blog.title}/likes|}'|">좋아한 포스트</button>
        </div>
        <div class="mb-3">
            <h4 class="card-title">팔로워</h4>
            <h3><a th:href="@{|/${blog.title}/followers|}" th:text="${blog.followers}"></a></h3>
        </div>
        <div class="mb-3">
            <h4 class="card-title">팔로잉</h4>
            <h3><a th:href="@{|/${blog.title}/followings|}" th:text="${blog.followings}"></a></h3>
        </div>
    </div>

    <div th:each="post : ${posts}" class="card mb-4 p-4">
        <div class="mb-3">
            <h4 class="card-title">제목</h4>
            <h3><a th:href="@{|/${post.blogName}/${post.title}|}" th:text="${post.title}"></a></h3>
        </div>
        <div class="mb-3">
            <h4 class="card-title">내용</h4>
            <h3 th:text="${post.content}"></h3>
        </div>
        <div class="mb-3">
            <h4 class="card-title">작성일자</h4>
            <h3 th:text="${#temporals.format(post.createDate,'yyyy-MM-dd')}"></h3>
        </div>
    </div>

    <div th:each="tag : ${tags}" class="mb-4">
        <h3><a href="" th:href="@{|/${blog.blogName}/posts/${tag.name}|}" th:text="${tag.name}"></a></h3>
        <p th:text="'(' + ${tag.postTagCount} +')'"></p>
    </div>
</section>
</body>
</html>
