<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{/layout/postHeader :: header(~{::title})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>블로그</title>

</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:sec="http://www.w3.org/1999/xhtml">
        <a class="navbar-brand" href="#" th:href="@{/}">홈</a>
        <div sec:authorize="hasRole('ADMIN')">
            <a class="navbar-brand" href="#" th:href="@{/admin/users}">관리자</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="" th:href="@{/join}">회원가입</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form id="logoutForm" th:action="@{/logout}" method="post" style="display:none;">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                    <a class="nav-link" href="#" onclick="document.getElementById('logoutForm').submit();">로그아웃</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="" th:href="@{/account}">개인정보</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/posts/create}">글 작성</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{|/@${#authentication.getPrincipal().getName()}|}">내 벨로그</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/posts/saves}">임시글</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container mt-4">

    <li class="nav-item" th:if="${param.update}">
        <span>수정성공</span>
    </li>
    <div class="card p-4">

        <div class="mb-3 flex-div">
            <h3 class="card-title"><span th:text="${post.title}"></span></h3>
            <p th:text="${#temporals.format(post.createDate,'yyyy-MM-dd')}" class="date-class"></p>
            <div sec:authorize="isAuthenticated()" class="post-title-secret">
                    <span  th:if="${post.loginId == #authentication.principal.username and post.isSecret == T(techit.velog.domain.post.entity.IsSecret).SECRET}"
                           class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-sm text-purple-700">비공개
                    </span>
            </div>
        </div>
        <div class="divider"></div>

        <div class="flex-div">
            <a th:href="@{|/${post.blogName}|}" th:text="${post.blogName}" class="anker"></a>
            <p class="card-text">조회수: <span th:text="${post.views}"></span></p>
            <p class="card-text">추천수: <span th:text="${post.likes}"></span></p>
        </div>

        <div class="mb-3">
            <span class="card-text" th:text="${post.content}"></span>
        </div>


        <div th:each="image : ${post.postImages}">
            <img th:src="${image.getStoreFileName()}" width="300" height="200"/>
        </div>



        <div class="flex-div-button" sec:authorize="isAuthenticated()">
            <button th:onclick="|location.href='@{|/like/${post.blogName}/${post.postId}|}'|"
                    class="btn btn-primary mb-3 btn-sm button-recommend">
                추천
            </button>
            <button class="btn btn-info btn-sm mb-3"
                    th:onclick="|location.href='@{|/${post.blogName}/${post.title}/postModify/${post.postId}|}'|">수정
            </button>
            <form th:action="@{|/${post.blogName}/postDelete/${post.postId}|}" method="post"
                  onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                <button type="submit" class="btn btn-danger btn-sm">삭제</button>
            </form>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <div th:if="${previousPost != null}">
                <a th:href="@{|/${post.blogName}/${previousPost.title}|}" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left-circle"></i>
                    <span th:text="'이전 포스트: ' + ${previousPost.title}"></span>
                </a>
            </div>
            <div th:if="${nextPost != null}">
                <a th:href="@{|/${post.blogName}/${nextPost.title}|}" class="btn btn-outline-secondary">
                    <span th:text="'다음 포스트: ' + ${nextPost.title}"></span>
                    <i class="bi bi-arrow-right-circle"></i>
                </a>
            </div>
        </div>
    </div>

    <div>
        <div>
            <ul class="list-group list-unstyled">
                <div th:each="comment : ${comments}">
                    <div th:replace="~{comment/comments :: commentTemplate(comment=${comment}, post=${post})}"></div>
                </div>
            </ul>
        </div>
        <div>
            <form th:if="${post != null and post.blogName != null and post.title != null}" th:action="@{|/${post.blogName}/${post.title}/comment|}" method="post" class="form-inline">
                <div class="form-group mr-2">
                    <label for="content" class="sr-only">댓글</label>
                    <input type="hidden" name="postId" th:value="${post.postId}">
                    <input type="text" id="content" name="content" class="form-control" placeholder="댓글을 입력하세요">
                </div>
                <button type="submit" class="btn btn-secondary">댓글</button>
            </form>
        </div>
    </div>




</div>

</body>
</html>
