<html th:replace="~{/layout/header :: header(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>블로그</title>
</head>
<body>
<section>
    <div>
        <div>블로그이름
            <h3 th:text="${post.blogName}"></h3>
        </div>
        <div>제목
            <h3 th:text="${post.title}"></h3>
        </div>
        <div>내용
            <h3 th:text="${post.content}"></h3>
        </div>
        <div>작성일자
            <h3 th:text="${#temporals.format(post.createDate,'yyyy-MM-dd')}"></h3>
        </div>
        <div>수정일자
            <h3 th:text="${#temporals.format(post.updateDate,'yyyy-MM-dd')}"></h3>
        </div>

        <button th:onclick="|location.href='@{|/like/${post.blogName}/${post.postId}|}'|">추천하기</button>
        <h3 th:text="${post.likes}"></h3>

        <div>
            <ul class="list-unstyled">
                <div th:each="comment : ${comments}">
                    <div th:replace="~{comment/comments :: commentTemplate(${comment},${post})}"></div>
                </div>
            </ul>
        </div>

        <div>
            <form action="" th:action="@{|/${post.blogName}/${post.title}/comment|}" method="post">
                <div>
                    <div>
                        <label for="content">댓글</label>
                        <input type="hidden" name="postId" th:value="${post.postId}">
                        <input type="text" id="content" name="content">
                        <input type="submit" value="댓글">
                    </div>
                </div>
            </form>
        </div>



    </div>

</section>

</body>
</html>