<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/header :: header(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>홈페이지</title>
</head>
<body>
<section class="container mt-4">
    <div class="row">
        <div class="col">
            <div th:each="post : ${posts}" class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">포스트 제목</h5>
                    <h3 class="card-title"><a th:href="@{|/${post.blogName}/${post.title}|}" th:text="${post.title}"></a></h3>

                    <div class="card-text">
                        <h5>포스트 간단설명</h5>
                        <p th:text="${post.postDescription}"></p>
                    </div>

                    <div class="card-text">
                        <h5>생성일자</h5>
                        <p th:text="${#temporals.format(post.createDate,'yyyy-MM-dd')}"></p>
                    </div>
                    <div class="card-text">
                        <h5>댓글수</h5>
                        <p th:text="${post.comments}"></p>
                    </div>
                    <div class="card-text">
                        <h5>조회수</h5>
                        <p th:text="${post.views}"></p>
                    </div>

                    <div class="card-text">
                        <h5>좋아요수</h5>
                        <p th:text="${post.likes}"></p>
                    </div>
                    <div class="card-text">
                        <h5>블로그 이동</h5>
                        <a href="" th:href="@{|/${post.blogName}|}" th:text="${post.nickname}"></a>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>
