<!DOCTYPE html>
<html th:replace="~{/layout/header :: header(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>수정</title>
</head>
<body>
<section class="container mt-4">
    <div class="card p-4">
        <h3 class="card-title mb-4">글 쓰기</h3>
        <form action="" th:action method="post" th:object="${post}" enctype="multipart/form-data">
            <input type="hidden" id="blogName" th:field="*{blogId}">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" th:field="*{title}" class="form-control">
                <div th:errors="*{title}" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" th:field="*{content}" class="form-control"></textarea>
                <div th:errors="*{content}" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label for="description">설명</label>
                <input type="text" id="description" th:field="*{postDescription}" class="form-control">
                <div th:errors="*{postDescription}" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label for="tagName">태그</label>
                <input type="text" id="tagName" th:field="*{tagName}" class="form-control" placeholder="띄어쓰기 아니면 콤마로 구분해주세요">
                <div th:errors="*{tagName}" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label>공개 설정</label>
                <div th:each="type : ${isSecret}" class="form-check form-check-inline">
                    <input type="radio" th:field="*{isSecret}" th:value="${type.name()}" class="form-check-input">
                    <label th:for="${#ids.prev('isSecret')}" th:text="${type.description}" class="form-check-label"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" id="isTemp" th:field="*{isTemp}" class="form-check-input">
                    <label for="isTemp" class="form-check-label">임시 여부</label>
                </div>
            </div>
            <div class="form-group">
                <label for="imageFile">이미지 파일</label>
                <input type="file" id="imageFile" name="imageFile" class="form-control-file">
            </div>
            <div class="form-group">
                <label for="imageFiles">다중 이미지 파일</label>
                <input type="file" id="imageFiles" name="imageFiles" multiple="multiple" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">제출</button>
        </form>
    </div>
</section>

</body>
</html>
