<html th:replace="~{/layout/header :: header(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원탈퇴</title>
</head>
<body>
<section>
    <div>

        <form action="" th:action method="post" th:object="${user}">
            <div th:replace="~{/layout/fiederror :: fielderror}"></div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" id=password th:field="*{password}">
                <div th:erros="*{password}" class="field-error"></div>
            </div>

            <input type="submit" value="제출">
        </form>
    </div>
</section>

</body>
</html>